{% extends 'base.html.twig' %}

{% block body %}
	<div class="bodyDiv">
		<div class="bodyContainer">

			{% for product in products %}
				{% if product.driver.id == currentUser %}
					{% include 'components/offerCards.html.twig' %}
				{% endif %}
			{% endfor %}

		</div>
	</div>
{% endblock %}
