{% extends "base.html.twig" %}


{# {% block body %}
	<div class="bodyDiv">

		<div class="bodyContainer">

			{% for announce in announces %}
				{% include 'components/myAnnounceCards.html.twig' %}
			{% endfor %}

		</div>

	</div>
{% endblock %} #}
