{% extends 'base.html.twig' %}

{% block body %}
	<div class="bodyDiv">

		<div class="bodyContainer">

			{% for product in products %}
				{% include 'components/offerCards.html.twig' %}
			{% endfor %}

		</div>

	</div>
{% endblock %}
