{% extends 'base.html.twig' %}

{% block body%}
    <div class="heroBanner">
        <div class="heroBannerContainer">
            <div class="heroBannerTextContents">
                <h3>Bus or carpool? </br>
                    Your pick of rides at low prices.</h3>
                <p>They are very soft and don't leave anywhere there is any pain. He likes to take care of his family.</p>
            </div>
            <div class="heroBannerPic">
                <div class="img">
                LOGO</div>
            </div>
        </div>
    </div>
{% endblock%}