nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    border-bottom: rgba(0, 0, 0, 0.318) 1px solid ;
    
    .logo{
        background-image: url(../../public/medias/icon_logo.png);
        cursor: pointer;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 4rem;
        height: 4rem;
        transition: 300ms;
        
        &:hover{

            transform: scale(1.1);
        }
    }


    .linksContainer ul{
        display: flex;
        flex-direction: row;

        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.706);
            font-weight: 500;
            
        }

        li{
            list-style-type: none;
            margin: 0 1rem;
            cursor: pointer;
            transition: 400ms;

            &:hover{
                transform: scale(1.1);
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
          
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #2DBDFD;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 13px;
            left: -100%;

            *{
                margin-bottom: 7px;
                color: white;
            }
            
        }
          
        .dropdown:hover .dropdown-content {
            display: block;
        }        

    }



    @media (min-width : 1024px) {
        padding: 0.5rem 4rem;
    }
    @media (min-width : 1200px) {
        padding: 0.5rem 7rem;
    }


}