{% extends 'base.html.twig' %}


{% block body %}

    <div class="detailsPage">

        <h1>Jeudi. 25 mai</h1>

        <div class="detailsPageContainer">

            <div class="detailFirstSection">
                <div class="timeOfTraject">
                    <p>06h00</p>
                    <p class="timeDuration">45 min</p>
                    <p>06h45</p>
                </div>
                <div class="citiesOfTraject">
                    <p>Chambéry</p>
                    <p>Grenoble</p>
                </div>
            </div>

            <div class="emptyDiv"></div>

            <div class="detailsOfPrice">
                <div class="detailsOfPriceContainer">
                    <p class="totalPriceText">Total price for a passenger</p>
                    <p>6,00 €</p>
                </div>
            </div>

            <div class="emptyDiv"></div>

            <div class="detailsFotter">
                <div class="detailsProfileSection">
                    <div class="detailsUserName">
                        <p>Mahdi-MHM</p>
                        <p class="feedback">⭐ 4/7 - 28 Avis</p>
                    </div>

                    <div class="detailsSectionPic">
                        <div class="detailsPic"></div>
                    </div>
                </div>

                <div class="detailsDescription">
                    <p>Un système d’authentification permet à l’utilisateur de s’inscrire sur la plateforme, de ce fait certaines pages sont accessibles ou non à l’utilisateur selon son statut.</p>
                </div>
            </div>

            <div class="detailsContact">
                <a><div></div></a>
                <p>CONTACT Mhdi-mhm</p>
            </div>
            
        </div>

    </div>

{% endblock %}
