<footer>
    <div>
    
        <div>
            <div>
                <h3>Top Directions</h3>
                <a>London → Manchester</a>
                <a>Manchester → London</a>
                <a>London → Birmingham</a>
                <a>Birmingham → London</a>
                <a>Leeds → London</a>
                <a>All carpool routes</a>
            </div>
        </div>

        <div>
            <div>
                <h3>About</h3>
                <a>How it works</a>
                <a>About Us</a>
                <a>Help Centre</a>
                <a>Press</a>
                <a>We're Hiring</a>
            </div>
        </div>

        <div>
            <h3>Contact Us</h3>
            <div>
                <a>Insta</a>
                <a>Faecbook</a>
                <a>Linkdin</a>
                <a>Tiktok</a>
            </div>
        </div>
    </div>
</footer>