<nav>
    <div class="logo"></div>
    <div class="linksContainer">
        <ul>
            <li>Book a Ride</li>
            <li>Publish a Ride</li>
            <li>Login</li>
        </ul>
    </div>
</nav>