<nav>
    <a href={{ path('app_ride')}} ><div class="logo"></div></a>
    <div class="linksContainer">
        <ul>
            <a href="{{ path('booking_page') }}"><li>Book a Ride</li></a>
            <a href="{{ path('publish_page')}}"><li>Publish a Ride</li></a>
            <a href="{{ path('login_page')}}"><li>Login</li></a>
        </ul>
    </div>
</nav>