<div class="cardContainer">
    <div class="card">
        <div class="upSide">
            <div class="cities">
                <p class="From">From:</p>
                <div class="departure">
                    <p>Chamebry</p>
                </div>
                <p class="To">To:</p>
                <div class="destination">
                    <p>Lyon</p>
                </div>
            </div>
            <div class="price">
                <p>16.00 $</p>
            </div>
        </div>
        <div class="downSide">
            <p>AccountNameis...</p>
            <div class="profil"></div>
        </div>
    </div>
</div>


